
  body {
    overflow-x: hidden;
  }
  @media (max-width: 768px) {
    .animated-image-object {
      width: 50vw;
      /* left: 50%; */
      transform: translate(-50%, -10%);
    }
  
    .animated-image-object img {
      width: 50vw; /* Adjust as needed */
    }
  }
    
.animated-images-container {
    display: flex;
    justify-content: left; /* Center images horizontally */
    gap: 10px; /* Space between images */
    margin: 20px 0; /* Space around the images */
  }
  
  .animated-image {
    width: 300px; /* Adjust size as needed */
    height: auto;
  }